{% block styles %}
<link
        rel="stylesheet"
        href="/static/css/contact.css"
        type="text/css"
/>
{% endblock %}
{% include 'layout.html' %}
{% include 'navigation.html' %}
{% block content %}
<div class="col-md-4">
    <div class="footer-info padding">
        <h3>CONTACT US</h3>
        <p><i class="fa fa-github" aria-hidden="true"></i>
            <a href="https://github.com/Yash-2903/PythonFlaskApp" target="_blank">
                Flask Application
            </a>
        </p>
        <p><i class="fa fa-paper-plane" aria-hidden="true"></i> yp32@njit.edu</p>
    </div>
</div>
{% endblock %}